.cell {
  font-family: 'Courier New', Courier, monospace;
  font-weight: bolder;
  font-size: medium;
}
.near1 {
  color: blue;
}
.near2 {
  color: darkgreen;
}
.near3 {
  color: red;
}
.near4 {
  color: darkblue;
}
.near5 {
  color: maroon;
}
.near6 {
  color: teal;
}
.near7 {
  color: black;
}
.near8 {
  color: gray;
}
.mine {
  color: red;
  font-weight: 3000;
  border: 2px solid;
  border-color: red;
}
.game-ender {
  color: black;
  background-color: red;
}
.flagged {
  font-size: x-small;
}